:root {
  --dark-blue: rgb(15, 38, 67);
  --medium-blue: rgb(37, 86, 127);
  --medium-light-blue: #749ab8;
  --light-blue: rgb(174, 187, 201);
  --white-blue: #fafafa;
}

.navbar-fonts {
  font-family: Vegur, Helvetica, sans-serif;
}

.navbar-brand {
  font-size: 36px;
  color: var(--dark-blue)
}

.nav-logo {
  width: 36px;
  height: 36px;
  background-image: url('../images/Circle-Logo.png');
  background-size: cover;
  margin-right: 18px;
}

.nav-item {
  font-size: 18px;
}

.nav-link {
  color: var(--medium-blue)
}

.nav-link:hover {
  color: #ffa500;
}

.nav-link.active {
  font-weight: bold;
  color: var(--dark-blue) !important;
}

.footer {
  min-height: 96px;
  background-color: var(--dark-blue);
  border-top: 1px solid var(--white-blue);
  color: var(--white-blue)
}

.footer-logo {
  width: 54px;
  margin-top: 21px;
  transition: 0.3s;
  filter: invert(59%) sepia(26%) saturate(466%) hue-rotate(164deg) brightness(95%) contrast(88%);
}

.footer-logo:hover {
  filter: invert(78%) sepia(39%) saturate(0%) hue-rotate(229deg) brightness(121%) contrast(106%);
}

.test {
  border: 1px solid magenta;
}