:root {
  --dark-blue: rgb(15, 38, 67);
  --medium-blue: rgb(37, 86, 127);
  --medium-light-blue: #749ab8;
  --light-blue: rgb(174, 187, 201);
  --white-blue: #fafafa;
  --orange: #ffa500;

}

.custom-fonts {
  font-family: Vegur, Helvetica, sans-serif;
}

/* dashboard */
.glass-effect {
  background: linear-gradient(to right bottom, rgba(255, 255, 255, .5), rgba(255, 255, 255, .2));
  backdrop-filter: blur(5px);
  border: 2px solid rgba(255, 255, 255, .5);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .3);
  border-radius: 10px;
}

/* ======= Header ======= */
.add-space {
  height: 80px;
}

/* ======= Nav ======= */

.navbar-brand {
  font-size: 36px;
  color: var(--dark-blue);
  transition: .2s;
}

.navbar-brand:hover {
  color: var(--orange)
}

.nav-logo {
  width: 36px;
  height: 36px;
  margin: 0px 18px 0 0;
  padding: 0 0 0 0;
}

.nav-link {
  font-size: 18px;
  color: var(--medium-blue);
  margin: 0 18px 0 18px;
}

.nav-link:hover {
  color: var(--orange);
}

.nav-link.active {
  font-weight: bold;
  color: var(--dark-blue) !important;
}

/* ======= Contact Modal ======= */
.contact-form {
  text-align: left;
  max-width: 720px;
  margin-top: 10vh;
  padding: 36px;
  color: var(--dark-blue);
}

.form-group {
  margin: 24px 0 24px 0;
}

.btn {
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
}

/* ======= Footer ======= */
.footer {
  min-height: 96px;
  background-color: var(--dark-blue);
  border-top: 1px solid var(--white-blue);
  color: var(--white-blue)
}

.footer-logo {
  width: 54px;
  transition: 0.2s;
  filter: invert(59%) sepia(26%) saturate(466%) hue-rotate(164deg) brightness(95%) contrast(88%);
}

.footer-logo:hover {
  filter: invert(78%) sepia(39%) saturate(0%) hue-rotate(229deg) brightness(121%) contrast(106%);
}

.test {
  border: 1px solid magenta;
}

/* xs */
@media screen and (max-width: 576px) {
  .footer-logo {
    max-width: 40px;
    transition: 0.2s;
    filter: invert(59%) sepia(26%) saturate(466%) hue-rotate(164deg) brightness(95%) contrast(88%);
  }
}

/* sm */
@media screen and (max-width: 768px) {}

/* md */
@media screen and (max-width: 992px) {}

/* lg */
@media screen and (max-width: 1200px) {}

/* xl */
@media screen and (max-width: 1400px) {}